#headertitle{
	font-family: 'bb'!important;
}
*{
	font-family: 'aa';
}
.footer{
	background-color: #f795a6;
	color: white;
	height: 78vh;
}
li{
	list-style-type: none;
}
.card-body{
	height: 180px;
	background-color: #eee;
}

.btn{
	background-color: #f15873;
}
#banner{
	background:linear-gradient(to bottom,rgba(218,165,146,.4)0,rgba(218,165,146,.4)100%),url(images/modal.jpeg);
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#banner1{
	background:linear-gradient(to bottom,rgba(218,165,146,.4)0,rgba(218,165,146,.4)100%),url(images/modal.jpeg);
	width: 100%;
	height: 250px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#banner3{
	background:linear-gradient(to bottom,rgba(218,165,146,.4)0,rgba(218,165,146,.4)100%),url(images/vs.jpg);
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}	
.h6,#fcolor{
	color: #f15873;
}
.icolor{
	color: #f15873;
}
#divider{
	max-width: 3.25rem;
	border-width: .2rem;
	border-color: Tomato;
}
#headermain{
	padding: 1.25rem 2.25rem;
	font-size: .85rem;
	font-weight: 700;
	text-transform: uppercase;
	border: none;
	border-radius: 10rem;
	background-color: Tomato;
}
p.card-header{
	border: 1px;
	border-color: white;
	color: Tomato;
	background-color: white;
	font-size: 18px;
}
.sect{
	background-color: #eeeeee;

}
#carouselExampleIndicators li{
	background-color: red;
}
.navbar-nav li a:focus, .navbar-nav li a:hover, .navbar-nav li a[aria-expanded="true"] {
  background: #eeeeee;
  color:#fff;
  text-decoration: none;
}
.navbar-nav li.active{
	background-color: Tomato;
}
.breadcrumb{
	background-color: #fff;
}
.breadcrumb li.active{
	color: Tomato;
}

.breadcrumb li a{
	text-decoration: none;
}
.pagination .current *{
	background-color: Tomato;
	color: #fff;
}

